@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');

:root {
  /*Colors*/
  --white-color: #ffffff;
  --white-heart-color: #ffffffcc;
  --black-text-color: #121417;
  --text-color: #8a8a89;
  --subtext-color: #12141780;
  --second-subtext-color: #363535;
  --filter-list-color: #12141733;

  --main-accent-color: #3470ff;
  --second-accent-color: #0b44cd;

  --filter-bcg-color: #f7f7fb;
  --modal-text-bcg-color: #f9f9f9;

  --pic-cover-gradient: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
  --bcg-gradient: linear-gradient(to right, #e2e2e2, #c9d6ff);
  --modal-overlay-color: #12141780;
  /*Fonts*/
  --manrope: 'Manrope';
  --montserrat: 'Montserrat';

  /*Borders*/
  --radius-m: 12px;
  --radius-l: 14px;
  --radius-xl: 24px;
  --radius-xxl: 35px;
  --border-line: 1px solid #8a8a8933;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
